<%= simple_form_for(@risk_plan, remote: true, html: {class: 'form-horizontal'}) do |f| %>

  <div class="modal-body">

    <%= f.error_notification %>

    <%= f.input :name %>
    <%= f.input :created_by_id, as: :hidden %>

  </div>

  <div class="modal-footer">

  <%= link_to t('buttons.cancel'), "#", class: "btn btn-default btn-sm", data: {dismiss: "modal"} %>
  <%= f.submit t("models.#{f.object.new_record? ? 'create' : 'update'}", model: RiskPlan.model_name.human), class: 'btn btn-primary btn-sm' %>

  </div>

<% end %>