<%= simple_form_for(@risk_plan, html: {class: 'form-horizontal'}) do |f| %>

  <div class="modal-body">

  <%= f.error_notification %>

  <%= f.input :parameter_id, collection: Parameter.all.collect {|p| [p.name, p.id]} %>

  <%= f.input :operation_id, collection: Operation.all.collect {|o| [o.name, o.id]} %>

  <%= f.input :is_enabled, as: :fui_boolean, wrapper: :fui_boolean %>

  <%= f.input :product_id, as: :hidden %>

  </div>
  <div class="modal-footer">

  <%= link_to t('buttons.cancel'), "#", class: "btn btn-default", data: {dismiss: "modal"} %>
  <%= f.button :submit, t('buttons.save_changes'), class: 'btn-primary col-sm-offset-2' %>

  </div>

<% end %>

<script type="text/javascript">

(function ($) {

  $(function () {

    trim_ui();

  });

}(jQuery));

</script>