<div id="sidebar" class="cell">

  <div id="sidebar-searchform">
    <div class="form-group">
      <div class="input-group input-group-sm input-group-rounded">
        <input type="search" class="form-control" placeholder="搜索产品" id="search-query-4">
        <span class="input-group-btn">
          <button type="submit" class="btn"><span class="fui-search"></span></button>
        </span>
      </div>
    </div>
  </div>

  <ul class="nav nav-list nav-list-vivid">
    <% Client.all.each do |client| %>
    <li class="nav-header"><%= client.name %></li>
      <% client.products.each do |product| %>
      <%= content_tag(:li, link_to([product.name, (content_tag(:span, product.risk_plans.count, class: 'badge pull-right') if product.risk_plans.count > 0)].join.html_safe, risk_plans_path(product_id: product.id)), class: product.id == @current_product.id ? 'active' : '') %>
      <% end %>
    <% end %>
  </ul>
</div><!-- #sidebar -->

<div id="main" class="cell">

  <div class="breadcrumb">
    <a href="#fakelink">风控方案</a> <%= fa_icon('angle-right')%> <a href="#fakelink">产品风控列表</a> <%= fa_icon('angle-right')%> 志投科技-豆粕套利2014
  </div>

  <div class="page-header">
    <h2>志投科技-豆粕套利2014</h2>
  </div>

  <div class="btn-toolbar">
    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="#fakelink">净值</a>
      <a class="btn btn-default btn-sm" href="#fakelink">保证金</a>
      <a class="btn btn-default btn-sm active" href="#fakelink">市值</a>
      <a class="btn btn-default btn-sm" href="#fakelink">敞口</a>
    </div>

    <div class="btn-group pull-right">
      <%= link_to fa_icon('plus', text: t('models.new', model: RiskPlan.model_name.human)), new_risk_plan_path, class: 'btn btn-primary btn-sm' %>
    </div>
  </div>

  <p></p>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center" width="20px">
          <label class="checkbox no-label toggle-all" for="checkbox-table-1">
            <input type="checkbox" value="" id="checkbox-table-1" data-toggle="checkbox">
          </label>
        </th>
        <th>#</th>
        <th>类型</th>
        <th>阈值</th>
        <th>操作</th>
        <th>优先级</th>
        <th>启用</th>
        <th class="btn-cell"> </th>
        <th class="btn-cell"> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">
          <label class="checkbox no-label" for="checkbox-table-2">
            <input type="checkbox" value="" id="checkbox-table-2" data-toggle="checkbox" class="custom-checkbox">
          </label>
        </td>
        <td>1</td>
        <td>内盘净值</td>
        <td>大于0.82，小于0.92</td>
        <td><span class="label label-warning label-sm">预警</span></td>
        <td>5</td>
        <td><input type="checkbox" checked data-toggle="switch" data-size="mini" name="default-switch" id="switch-01" /></td>
        <td class="btn-cell"><%= fa_icon("pencil")%></td>
        <td class="btn-cell"><%= fa_icon("trash")%></td>
      </tr>
      <tr>
        <td class="text-center">
          <label class="checkbox no-label" for="checkbox-table-3">
            <input type="checkbox" value="" id="checkbox-table-3" data-toggle="checkbox" class="custom-checkbox">
          </label>
        </td>
        <td>2</td>
        <td>外盘净值</td>
        <td>小于0.82</td>
        <td><span class="label label-danger label-sm">停止开仓</span></td>
        <td>5</td>
        <td><input type="checkbox" checked data-toggle="switch" data-size="mini" name="default-switch" id="switch-01" /></td>
        <td class="btn-cell"><%= fa_icon("pencil")%></td>
        <td class="btn-cell"><%= fa_icon("trash")%></td>
      </tr>
      <tr>
        <td class="text-center">
          <label class="checkbox no-label" for="checkbox-table-4">
            <input type="checkbox" value="" id="checkbox-table-4" data-toggle="checkbox" class="custom-checkbox">
          </label>
        </td>
        <td>3</td>
        <td>The Godfather: Part II</td>
        <td>1974</td>
        <td>9.0</td>
        <td>427,132</td>
        <td><input type="checkbox" checked data-toggle="switch" data-size="mini" name="default-switch" id="switch-01" /></td>
        <td class="btn-cell"><%= fa_icon("pencil")%></td>
        <td class="btn-cell"><%= fa_icon("trash")%></td>
      </tr>
      <tr>
        <td class="text-center">
          <label class="checkbox no-label" for="checkbox-table-5">
            <input type="checkbox" value="" id="checkbox-table-5" data-toggle="checkbox" class="custom-checkbox">
          </label>
        </td>
        <td>4</td>
        <td>Pulp Fiction</td>
        <td>1994</td>
        <td>8.9</td>
        <td>719,280</td>
        <td class="btn-cell"><%= fa_icon("pencil")%></td>
        <td class="btn-cell"><%= fa_icon("trash")%></td>
      </tr>
      <tr>
        <td class="text-center">
          <label class="checkbox no-label" for="checkbox-table-6">
            <input type="checkbox" value="" id="checkbox-table-6" data-toggle="checkbox" class="custom-checkbox">
          </label>
        </td>
        <td>5</td>
        <td>The Good, the Bad and the Ugly</td>
        <td>1966</td>
        <td>8.9</td>
        <td>218,887</td>
        <td class="btn-cell"><%= fa_icon("pencil")%></td>
        <td class="btn-cell"><%= fa_icon("trash")%></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">

        </td>
      </tr>
    </tfoot>
  </table>

</div> <!-- #main -->