<% content_for :plate_title_panel do %>

<%= render partial: 'products/product_panel' %>

<% end %>

<% content_for :sidebar do %>

  <ul class="nav nav-list">

    <li class="nav-header"><%= t('navigation.page.risk_plan') %></li>
    <li class="active"><%= link_to t('navigation.page.risk_plan_list'), risk_plans_path(product_id: @current_product.id) %></li>

    <li class="divider"></li>

    <li class="nav-header"><%= t('navigation.page.monitoring') %></li>
    <li><%= link_to t('navigation.page.monitoring'), risk_plans_path(product_id: @current_product.id) %></li>
    <li><%= link_to t('navigation.page.monitoring_settings'), risk_plans_path(product_id: @current_product.id) %></li>
  </ul>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="risk-plan-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<div class="page-header">
  <h2><%= t('navigation.page.risk_plan_list') %></h2>
</div>

<div class="btn-toolbar">
  <div class="btn-group">
    <%= link_to t('activerecord.properties.parameter.name.net_worth'), risk_plans_path(product_id: @current_product.id, p: :net_worth), class: @parameter == 'net_worth' ? 'btn btn-info btn-sm active' : 'btn btn-info btn-sm' %>
    <%= link_to t('activerecord.properties.parameter.name.margin'), risk_plans_path(product_id: @current_product.id, p: :margin), class: @parameter == 'margin' ? 'btn btn-info btn-sm active' : 'btn btn-info btn-sm' %>
    <%= link_to t('activerecord.properties.parameter.name.exposure'), risk_plans_path(product_id: @current_product.id, p: :exposure), class: @parameter == 'exposure' ? 'btn btn-info btn-sm active' : 'btn btn-info btn-sm' %>
    <%= link_to t('activerecord.properties.parameter.name.all'), risk_plans_path(product_id: @current_product.id), class: @parameter == nil ? 'btn btn-info btn-sm active' : 'btn btn-info btn-sm' %>
  </div>

  <div class="btn-group pull-right">
    <%= link_to(fa_icon('plus', text: t('models.new', model: RiskPlan.model_name.human)), new_risk_plan_path(product_id: @current_product.id), remote: true, class: 'btn btn-primary btn-sm') %>
  </div>
</div>

<p></p>

<div id="risk-plan-list">

  <%= render 'risk_plans_grid' %>

</div>