<div id="sidebar" class="cell">

  <div id="sidebar-searchform">
    <div class="form-group">
      <div class="input-group input-group-sm input-group-rounded">
        <input type="search" class="form-control" placeholder="搜索产品" id="search-query-4">
        <span class="input-group-btn">
          <button type="submit" class="btn"><span class="fui-search"></span></button>
        </span>
      </div>
    </div>
  </div>

  <ul class="nav nav-list nav-list-vivid">
    <% Client.all.each do |client| %>
    <li class="nav-header"><%= client.name %></li>
      <% client.products.each do |product| %>
      <%= content_tag(:li, link_to([product.name, (content_tag(:span, product.risk_plans.count, class: 'badge pull-right') if product.risk_plans.count > 0)].join.html_safe, risk_plans_path(product_id: product.id)), class: product.id == @current_product.id ? 'active' : '') %>
      <% end %>
    <% end %>
  </ul>
</div><!-- #sidebar -->

<div id="main" class="cell">

  <div class="breadcrumb">
    <a href="#fakelink">风控方案</a> <%= fa_icon('angle-right')%> <a href="#fakelink">产品风控列表</a> <%= fa_icon('angle-right')%> 志投科技-豆粕套利2014
  </div>

  <div class="page-header">
    <h2><%= @current_product.name %></h2>
  </div>

  <div class="btn-toolbar">
    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="#fakelink">净值</a>
      <a class="btn btn-default btn-sm" href="#fakelink">保证金</a>
      <a class="btn btn-default btn-sm active" href="#fakelink">市值</a>
      <a class="btn btn-default btn-sm" href="#fakelink">敞口</a>
    </div>

    <div class="btn-group pull-right">
      <%= link_to(fa_icon('plus', text: t('models.new', model: RiskPlan.model_name.human)), new_risk_plan_path(product_id: @current_product.id), remote: true, class: 'btn btn-primary btn-sm') %>
    </div>
  </div>

  <p></p>

  <div id="risk-plan-list">

    <%= render 'risk_plans_grid' %>

  </div>

</div> <!-- #main -->

<!-- Modal -->

<div class="modal fade" id="risk-plan-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->