<% content_for :page_title do %>

<%= t('models.show', model: RiskPlan.model_name.human) %>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<!-- Extra Javascripts -->

<%= content_for :js do %>

<script type="text/javascript">

$(document).ready(function() {

  var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
  elems.forEach(function(html) {
    var element = $(html);
    if (element.data('switchery') != true) {
      var switchery = new Switchery(html);
    }
  });

});

</script>

<% end %>

<div class="ibox">
  <div class="ibox-content">
      <div id="risk-plan-detail">
        <%= render partial: 'risk_plan_detail' %>
      </div>
      <div class="row m-t-sm">
        <div class="col-lg-12">
          <div class="panel blank-panel">
            <div class="panel-heading">
                <div class="panel-options">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-1" data-toggle="tab"><%= t('models.list', model: RiskPlanOperation.model_name.human) %></a></li>
                        <li><a href="#tab-2" data-toggle="tab"><%= t('navigation.tab.binding_products') %></a></li>
                        <li class=""><a href="#tab-3" data-toggle="tab">Last activity</a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">

              <div class="tab-content">
                <div class="tab-pane active" id="tab-1">

                  <div class="btn-toolbar">
                    <div class="btn-group pull-right">
                    <%= link_to(fa_icon('plus-square', text: t('models.add', model: RiskPlanOperation.model_name.human)), new_risk_plan_risk_plan_operation_path(risk_plan_id: @risk_plan.id), remote: true, class: 'btn btn-primary btn-sm') %>
                    </div>
                  </div>

                  <div id="risk-plan-operation-list" class="tooltip-demo">
                  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
                    <%= render 'risk_plan_operations/risk_plan_operations_grid' %>
                  </div>

                </div>
                <div class="tab-pane" id="tab-2">

                  <%= render partial: 'binding_products_grid' %>

                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
  </div>
</div>