<% hide_sidebar = false if local_assigns[:hide_sidebar].nil? %>

<% content_for :page_title do %>

<%= [t('models.show', model: RiskPlan.model_name.human), @risk_plan.name].join(': ') %>

<% end %>

<% unless hide_sidebar %>

<% content_for :sidebar do %>

<%= render partial: 'risk_plans_sidebar_menu' %>

<% end %>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<!-- Extra Javascripts -->

<%= content_for :js do %>

<script type="text/javascript">

$(document).ready(function() {

  var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
  elems.forEach(function(html) {
    var element = $(html);
    if (element.data('switchery') != true) {
      var switchery = new Switchery(html);
    }
  });

});

</script>

<% end %>

<div class="ibox no-drop">
  <div class="ibox-title">
      <h5><%= t('models.list', model: RiskPlanOperation.model_name.human) %></h5>
      <div class="btn-toolbar">
        <div class="btn-group pull-right">
        <%= link_to(fa_icon('plus-square', text: t('models.add', model: RiskPlanOperation.model_name.human)), new_risk_plan_risk_plan_operation_path(risk_plan_id: @risk_plan.id), remote: true, class: 'btn btn-primary btn-sm') %>
        </div>
      </div>
  </div>
  <div class="ibox-content">

      <div id="item-list">
          <%= render 'risk_plan_operations/risk_plan_operations_grid' %>
      </div>

  </div>
</div>


