
<div class="row">
  <div class="col-md-6">
    <div class="icon"><%= image_tag "icons/imac.svg" %></div>
    <div class="info">
      <h2 class="alone"><%= t('navigation.page.monitoring') %></h2>
    </div>
  </div>
  <div class="col-md-6">

    <div class="btn-toolbar pull-right">

      <div class="btn-group">
        <%= link_to fa_icon('th-large'), dashboard_switch_monitor_layout_path(style: :panel), remote: true, class: 'btn btn-default switch-monitor-layout-panel-btn active' %>
        <%= link_to fa_icon('reorder'), dashboard_switch_monitor_layout_path(style: :list), remote: true, class: 'btn btn-default switch-monitor-layout-list-btn' %>
      </div>

      <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button"><%= fa_icon('cog') %> <span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">

          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>

    </div>

  </div>
</div>

