<% content_for :page_title do %>

<%= fa_icon('desktop', text: t('navigation.page.monitoring')) %>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<% content_for :page_header_right_panel do %>

<div class="auto-refresh-switcher pull-right" style="position: relative; top: 25px;"><span style="display: inline-block; position: relative; top: 2px; padding-right: 5px;"><%= t('buttons.auto_refresh') %></span> <%= link_to(check_box_tag("checkbox-auto-refresh", nil, nil, class: 'js-switch'), 'javascript:auto_refresh_toggle();') %></div>

<% end %>

<div id="monitoring-wrapper">
<%= render partial: 'monitoring_panels' %>
</div>

<% content_for :js do %>

<%= javascript_include_tag 'theme_inspinia_extra', 'data-turbolinks-track' => true %>

<script type="text/javascript">

var auto_refresh = false;
var interval = 5; // seconds
var timer = null;

function refresh() {
  $.ajax({
    url: '<%= risk_monitoring_path %>',
    method: 'GET',
    dataType: 'script'
  });
};

function stop_auto_refresh() {
  if (timer != null) {
    clearInterval(timer);
    auto_refresh = false;
  }
}

function auto_refresh_toggle() {
  if (auto_refresh == true) {
    stop_auto_refresh();
  } else {
    start_auto_refresh();
  }
}

function start_auto_refresh() {
  timer = setInterval(refresh, interval * 1000);
  auto_refresh = true;
}

(function ($) {

  $(function () {

    WinMove();

  });

}(jQuery));

</script>

<% end %>