
<div class="icon"><%= image_tag "icons/safe.svg" %></div>
<div class="info">
  <h2><%= @user.name %></h2>
  <table>
    <tr>
                

      <td class="key"><%= t('activerecord.attributes.user.email') %></td>
      <td class="value"><%= @user.email %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.encrypted_password') %></td>
      <td class="value"><%= @user.encrypted_password %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.reset_password_token') %></td>
      <td class="value"><%= @user.reset_password_token %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.reset_password_sent_at') %></td>
      <td class="value"><%= @user.reset_password_sent_at %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.remember_created_at') %></td>
      <td class="value"><%= @user.remember_created_at %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.sign_in_count') %></td>
      <td class="value"><%= @user.sign_in_count %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.current_sign_in_at') %></td>
      <td class="value"><%= @user.current_sign_in_at %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.last_sign_in_at') %></td>
      <td class="value"><%= @user.last_sign_in_at %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.current_sign_in_ip') %></td>
      <td class="value"><%= @user.current_sign_in_ip %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.last_sign_in_ip') %></td>
      <td class="value"><%= @user.last_sign_in_ip %></td>

                            

      <td class="key"><%= t('activerecord.attributes.user.name') %></td>
      <td class="value"><%= @user.name %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.full_name') %></td>
      <td class="value"><%= @user.full_name %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.avatar_file_name') %></td>
      <td class="value"><%= @user.avatar_file_name %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.avatar_content_type') %></td>
      <td class="value"><%= @user.avatar_content_type %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.avatar_file_size') %></td>
      <td class="value"><%= @user.avatar_file_size %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.avatar_updated_at') %></td>
      <td class="value"><%= @user.avatar_updated_at %></td>

            

      <td class="key"><%= t('activerecord.attributes.user.attachment_access_token') %></td>
      <td class="value"><%= @user.attachment_access_token %></td>

            </tr>
  </table>
</div>
