
<div class="icon"><%= image_tag "icons/safe.svg" %></div>
<div class="info">
  <h2><%= @monitoring_product.name %></h2>
  <table>
    <tr>
                

      <td class="key"><%= t('activerecord.attributes.monitoring_product.product_id') %></td>
      <td class="value"><%= @monitoring_product.product_id %></td>

            

      <td class="key"><%= t('activerecord.attributes.monitoring_product.user_id') %></td>
      <td class="value"><%= @monitoring_product.user_id %></td>

                            </tr>
  </table>
</div>
