<%= simple_form_for(@instrument.becomes(Instrument), remote: true, html: {class: 'form-horizontal'}) do |f| %>

  <% @instrument.becomes(@instrument.class) %>

  <div class="modal-body">

  <%= f.error_notification %>


    <%= f.input :name %>

    <%= f.input :symbol_id %>

    <%= f.input :type, collection: [StockInstrument, IndexInstrument, FuturesInstrument, OptionsInstrument].map {|item| [item.model_name.human, item.name]} %>

    <%= f.input :underlying_id %>

    <%= f.input :expiration_date %>

    <%= f.input :strike_price %>

    <%= f.input :exchange_id, as: :hidden %>

    <%= f.input :currency_unit %>

  </div>

  <div class="modal-footer">

  <%= link_to t('buttons.cancel'), "#", class: "btn btn-default btn-sm", data: {dismiss: "modal"} %>
  <%= f.submit t('buttons.save_changes'), class: 'btn btn-primary btn-sm' %>

  </div>

<% end %>

<script type="text/javascript">

(function ($) {

  $(function () {

    //Add your script here.

  });

}(jQuery));

</script>