<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= Acropolis::Settings.application.name %> | <%= Acropolis::Settings.application.owner %></title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= yield :js %>

    <%= csrf_meta_tags %>
</head>

<body class="top-navigation fixed-nav">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <%= render partial: 'shared/navigation' %>

            <div class="wrapper wrapper-content">
                <div class="container">

                    <%= render partial: 'shared/page_header' %>

                    <%= yield %>
                </div>

            </div>

            <%= render partial: 'shared/footer' %>


            <%= yield :anything_else %>

        </div>
    </div>
</body>
</html>
