<!DOCTYPE html>
<html>
<head>
  <title>Acropolis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="wrapper">

<header class="block">
  <div id="global-header">
    <div id="logo" class="pull-left">
      <h1>Acropolis</h1>
    </div>

    <div id="user" class="pull-right">Signed in as Stanley</div>
  </div>

  <div id="global-navigation">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#fakelink"><%= fa_icon("desktop") %> 实时监测</a></li>
            <li><a href="#fakelink"><%= fa_icon("life-ring") %> 风控方案</a></li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= fa_icon("pie-chart") %> 数据报表 <%= fa_icon("caret-down") %></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
           </ul>
         </div>
       </div>
    </nav>
  </div>
</header>

<div class="block push">
  <div class="wrapper">
    <div class="block push">

      <div id="sidebar" class="cell">

        <div id="sidebar-searchform">
          <div class="form-group">
            <div class="input-group input-group-sm input-group-rounded">
              <input type="search" class="form-control" placeholder="搜索产品" id="search-query-4">
              <span class="input-group-btn">
                <button type="submit" class="btn"><span class="fui-search"></span></button>
              </span>
            </div>
          </div>
        </div>

        <ul class="nav nav-list nav-list-vivid">
          <li class="nav-header">志投科技</li>
          <li>
            <a href="#fakelink">
              白糖套利2014
              <span class="badge pull-right">19</span>
            </a>
          </li>
          <li class="active">
            <a href="#fakelink">
              豆粕套利2014
              <span class="badge pull-right">130</span>
            </a>
          </li>
          <li>
            <a href="#fakelink">
              Madrid, Spain
              <span class="badge pull-right">9</span>
            </a>
          </li>
          <li class="divider"></li>
          <li class="nav-header">Asia</li>
          <li>
            <a href="#fakelink">
              Shanghai, China
              <span class="badge pull-right">69</span>
            </a>
          </li>
          <li>
            <a href="#fakelink">
              Bombay, India
              <span class="badge pull-right">21</span>
            </a>
          </li>
          <li>
            <a href="#fakelink">
              Karachi, Pakistan
              <span class="badge pull-right">40</span>
            </a>
          </li>
        </ul>
      </div><!-- #sidebar -->

      <div id="main" class="cell">

        <%= yield %>

      </div> <!-- #main -->



    </div>
  </div>
</div>

<footer class="block">
  <div class="bottom-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <a href="#fakelink" class="bottom-menu-brand">Flat UI</a>
        </div>
        <div class="col-md-8 col-sm-8">
          <ul class="bottom-menu-list">
            <li><a href="#fakelink">About Us</a></li>
            <li><a href="#fakelink">Store</a></li>
            <li class="active"><a href="#fakelink">Jobs</a></li>
            <li><a href="#fakelink">Privacy</a></li>
            <li><a href="#fakelink">Terms</a></li>
            <li><a href="#fakelink">Follow Us</a></li>
            <li><a href="#fakelink">Support</a></li>
            <li><a href="#fakelink">Links</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <ul class="bottom-menu-iconic-list">
            <li><a href="#fakelink" class="fui-pinterest"></a></li>
            <li><a href="#fakelink" class="fui-facebook"></a></li>
            <li><a href="#fakelink" class="fui-twitter"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- /bottom-menu -->
</footer>

</section>

</body>
</html>
