<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= Acropolis::Settings.application.name %> | <%= Acropolis::Settings.application.owner %></title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= yield :js %>

    <%= csrf_meta_tags %>
</head>

<body>
    <div id="wrapper">
        <%= render partial: 'shared/navigation' %>

        <div id="page-wrapper" class="gray-bg">

            <%= render partial: 'shared/header' %>

            <%= render partial: 'shared/page_header' %>

            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content">

                        <%= yield %>

                    </div>

                </div>
            </div>

            <%= render partial: 'shared/footer' %>

        </div>
    </div>

    <%= yield :anything_else %>

</body>
</html>
