<!DOCTYPE html>
<html>
<head>
  <title>Acropolis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="wrapper">

<header class="block">
  <div id="global-header">
    <div id="logo" class="pull-left">
      <h1>Acropolis</h1>
    </div>

    <div id="user" class="pull-right">Signed in as Stanley</div>
  </div>

  <div id="global-navigation">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <%= render_navigation(level: 1..2, renderer: :bootstrap_topbar_list, expand_all: true) %>
        </div>
      </div>
    </nav>
  </div>
</header>

<div class="block push">
  <div class="wrapper">
    <div class="block push">

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

    </div>
  </div>
</div>

<footer class="block">
  <div class="bottom-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <a href="#fakelink" class="bottom-menu-brand">Acropolis</a>
        </div>
        <div class="col-md-8 col-sm-8">
          <ul class="bottom-menu-list">
            <li><a href="#fakelink">About Us</a></li>
            <li><a href="#fakelink">Store</a></li>
            <li class="active"><a href="#fakelink">Jobs</a></li>
            <li><a href="#fakelink">Privacy</a></li>
            <li><a href="#fakelink">Terms</a></li>
            <li><a href="#fakelink">Follow Us</a></li>
            <li><a href="#fakelink">Support</a></li>
            <li><a href="#fakelink">Links</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <ul class="bottom-menu-iconic-list">
            <li><a href="#fakelink" class="fui-pinterest"></a></li>
            <li><a href="#fakelink" class="fui-facebook"></a></li>
            <li><a href="#fakelink" class="fui-twitter"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- /bottom-menu -->
</footer>

</section>

</body>
</html>
