<!DOCTYPE html>
<html>
<head>
  <title>Acropolis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="dashboard">

<section class="wrapper">

<%= render partial: 'shared/header' %>

<%= render partial: 'shared/content', locals: { sidebar: false, breadcrumb: false } %>

<%= render partial: 'shared/footer' %>

</section>

<%= yield :anything_else %>

</body>
</html>
