<% hide_sidebar = false if local_assigns[:hide_sidebar].nil? %>

<% content_for :plate_title_panel do %>

<%= render partial: 'product_risk_plans_title_panel' %>

<% end %>

<% unless hide_sidebar %>

<% content_for :sidebar do %>

<%= render partial: 'product_risk_plans_sidebar_menu' %>

<% end %>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<div class="page-header">
  <h2><%= t('models.list', model: ProductRiskPlan.model_name.human) %></h2>
</div>

<div class="btn-toolbar">
  <div class="btn-group pull-right">
    <%= link_to(fa_icon('plus', text: t('models.new', model: ProductRiskPlan.model_name.human)), new_product_risk_plan_path, remote: true, class: 'btn btn-primary btn-sm') %>
  </div>
</div>

<p></p>

<div id="item-list">

  <%= render 'product_risk_plans_grid' %>

</div>