<%= simple_form_for(@trade, remote: true, html: {class: 'form-horizontal'}) do |f| %>

  <div class="modal-body">

  <%= f.error_notification %>

    <%= f.input :system_trade_sequence_number %>
    <%= f.input :instrument_id %>
    <%= f.input :order_side %>
    <%= f.input :open_close %>
    <%= f.input :traded_price %>
    <%= f.input :traded_volume %>
    <%= f.input :exchange_id %>
    <%= f.input :exchange_traded_at %>
    <%= f.input :trading_account_id %>
  </div>

  <div class="modal-footer">

  <%= link_to t('buttons.cancel'), "#", class: "btn btn-default btn-sm", data: {dismiss: "modal"} %>
  <%= f.submit t('buttons.save_changes'), class: 'btn btn-primary btn-sm' %>

  </div>

<% end %>

<script type="text/javascript">

(function ($) {

  $(function () {

    //Add your script here.

  });

}(jQuery));

</script>
