<%= simple_form_for(@trade, remote: true, html: {class: 'form-horizontal'}) do |f| %>

  <div class="modal-body">

  <%= f.error_notification %>

            
    <%= f.input :instrument_id %>
          
    <%= f.input :trade_price %>
          
    <%= f.input :order_side %>
          
    <%= f.input :order_price %>
          
    <%= f.input :trading_account_id %>
          
    <%= f.input :traded_at %>
          
    <%= f.input :trade_volume %>
          
    <%= f.input :open_close %>
                  
  </div>

  <div class="modal-footer">

  <%= link_to t('buttons.cancel'), "#", class: "btn btn-default btn-sm", data: {dismiss: "modal"} %>
  <%= f.submit t('buttons.save_changes'), class: 'btn btn-primary btn-sm' %>

  </div>

<% end %>

<script type="text/javascript">

(function ($) {

  $(function () {

    //Add your script here.

  });

}(jQuery));

</script>