<%= simple_form_for(@trade, remote: true, html: {class: 'form-horizontal'}) do |f| %>

  <div class="modal-body">

  <%= f.error_notification %>

    <%= f.input :system_trade_sequence_number, input_html: {value: (Trade.last ? Trade.last.system_trade_sequence_number + 1 : 1)} %>
    <%= f.input :instrument_id, collection: Instrument.all, label_method: :exchange_instrument_code, value_method: :id, selected: (Trade.last ? Trade.last.instrument_id : 0) %>
    <%= f.input :order_side, collection: Trade.order_sides, selected: Trade.order_sides[0]%>
    <%= f.input :open_close, collection: Trade.open_or_close, selected: Trade.open_or_close[0] %>
    <%= f.input :traded_price %>
    <%= f.input :traded_volume, input_html: {value: 1} %>
    <%= f.input :exchange_id, input_html: {value: 4} %>
    <%= f.input :exchange_traded_at %>
    <%= f.input :trading_account_id, input_html: {value: 1} %>
  </div>

  <div class="modal-footer">

  <%= link_to t('buttons.cancel'), "#", class: "btn btn-default btn-sm", data: {dismiss: "modal"} %>
  <%= f.submit t('buttons.save_changes'), class: 'btn btn-primary btn-sm' %>

  </div>

<% end %>

<script type="text/javascript">

(function ($) {

  $(function () {

    //Add your script here.

  });

}(jQuery));

</script>
