<%= simple_form_for(@exchange.becomes(Exchange), remote: true, html: {class: 'form-horizontal'}) do |f| %>

  <% @exchange.becomes(@exchange.class) %>

  <div class="modal-body">

  <%= f.error_notification %>


    <%= f.input :name %>

    <%= f.input :type, collection: [StockExchange, FuturesExchange, Exchange].map {|item| [item.model_name.human, item.name]} %>

    <%= f.input :full_cn_name %>

    <%= f.input :short_cn_name %>

    <%= f.input :full_en_name %>

    <%= f.input :short_en_name %>

    <%= f.input :currency_unit %>

  </div>

  <div class="modal-footer">

  <%= link_to t('buttons.cancel'), "#", class: "btn btn-default btn-sm", data: {dismiss: "modal"} %>
  <%= f.submit t('buttons.save_changes'), class: 'btn btn-primary btn-sm' %>

  </div>

<% end %>

<script type="text/javascript">

(function ($) {

  $(function () {

    //Add your script here.

  });

}(jQuery));

</script>