<%%= simple_form_for(@<%= singular_table_name %>, html: { class: 'form-horizontal' } ) do |f| %>
  <%%= f.error_notification %>

  <% attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>

  <div class="hr-line-dashed"></div>

  <div class="form-group">
      <div class="pull-right m-r-md">
          <%%= f.submit t('buttons.save'), class: 'btn btn-primary btn-w-m' %>
      </div>
      <div class="m-l-md">
        <%%= link_to t('activerecord.text.back_to_list', model: <%= class_name.split('::').last %>.model_name.human), <%= table_name %>_path, class: 'btn btn-white' %>
      </div>
  </div>
<%% end %>
