<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Acropolis</title>

    <%= stylesheet_link_tag 'theme_inspinia', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
    <div id="wrapper" style="display:table; height: 100%; width: 100%;">
        <%= render partial: 'shared/inspinia/navigation' %>

        <div id="page-wrapper" class="gray-bg">

            <%= render partial: 'shared/inspinia/header' %>

            <%= render partial: 'shared/inspinia/page_header' %>

            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content">

                        <%= yield %>

                    </div>

                </div>
            </div>

        </div>
    </div>

    <%= javascript_include_tag 'theme_inspinia', 'data-turbolinks-track' => true %>

    <%= yield :js %>

</body>
</html>
