<div class="row">
    <div class="col-lg-12">
        <div class="m-b-md">
            <%= link_to fa_icon('refresh'), trading_account_calculate_trading_summary_path(@trading_account), remote: true, method: :post, class: 'btn btn-white btn-xs pull-right' %> <%= link_to t('models.edit', model: TradingAccount.model_name.human), edit_trading_account_path(@trading_account), remote: true, class: 'btn btn-white btn-xs pull-right' %>
            <h2><%= @trading_account.name %></h2>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <dl class="dl-horizontal">
                    <dt><%= t('activerecord.attributes.trading_summary.net_worth') %></dt>
                    <dd class="text-right"><%= render_net_worth(@trading_account.trading_summary.net_worth) %></dd>
                </dl>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <dl class="dl-horizontal">
                    <dt><%= t('activerecord.attributes.trading_account.budget') %></dt>
                    <dd class="text-right"><%= render_currency(@trading_account.budget) %></dd>
                </dl>
            </div>
            <div class="col-lg-3">
                <dl class="dl-horizontal">
                    <dt><%= t('activerecord.attributes.trading_summary.balance') %></dt>
                    <dd class="text-right"><%= render_currency(@trading_account.trading_summary.balance) %></dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <dl class="dl-horizontal">
            <dt><%= t('activerecord.attributes.trading_summary.customer_benefit') %></dt>
            <dd class="text-right"><%= render_currency(@trading_account.trading_summary.customer_benefit) %></dd>
            <dt><%= t('activerecord.attributes.trading_summary.profit') %></dt>
            <dd class="text-right"><%= render_currency(@trading_account.trading_summary.profit) %></dd>
            <dt><%= t('activerecord.attributes.trading_summary.exposure') %></dt>
            <dd class="text-right"><%= render_currency(@trading_account.trading_summary.exposure) %></dd>
        </dl>
    </div>
    <div class="col-lg-3">
        <dl class="dl-horizontal">
            <dt><%= t('activerecord.attributes.trading_summary.leverage') %></dt>
            <dd class="text-right"><%= render_decimal(@trading_account.trading_summary.leverage) %></dd>
            <dt><%= t('activerecord.attributes.trading_summary.margin') %></dt>
            <dd class="text-right"><%= render_currency(@trading_account.trading_summary.margin) %></dd>
            <dt><%= t('activerecord.attributes.trading_summary.margin_rate') %></dt>
            <dd class="text-right"><%= render_percentage(@trading_account.trading_summary.margin.fdiv(@trading_account.budget)) %></dd>
        </dl>
    </div>
    <div class="col-lg-3">
        <dl class="dl-horizontal">

        </dl>
    </div>
    <div class="col-lg-3">
        <dl class="dl-horizontal">

        </dl>
    </div>
</div>