<div class="row">
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="pull-right"><%= render_trading_status(@trading_account) %></span>
                <h5><%= t('activerecord.attributes.trading_account.net_worth') %></h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="net-worth-value"><%= number_with_precision(@trading_account.net_worth(@trading_date, @exchange), precision: 4) %></h1>
                <div class="stat-percent font-bold text-success"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right"></span>
                <h5><%= t('activerecord.attributes.trading_account.balance') %></h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="balance-value"><%= render_currency(@trading_account.balance(@trading_date, @exchange)) %></h1>
                <div class="stat-percent font-bold text-success"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right"></span>
                <h5><%= t('activerecord.attributes.trading_account.profit') %></h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="profit-value"><%= render_currency(@trading_account.profit(@trading_date, @exchange)) %></h1>
                <div class="stat-percent font-bold text-success"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right"></span>
                <h5><%= t('activerecord.attributes.trading_account.leverage') %></h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="leverage-value"><%= number_with_precision(@trading_account.leverage(@trading_date, @exchange), precision: 3) %></h1>
                <div class="stat-percent font-bold text-success"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right"></span>
                <h5><%= t('activerecord.attributes.trading_account.exposure') %></h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="exposure-value"><%= @trading_account.exposure(@trading_date, @exchange) %></h1>
                <div class="stat-percent font-bold text-success"></div>
            </div>
        </div>
    </div>
</div>
