<% content_for :page_title do %>

<%= t('models.show', model: TradingAccount.model_name.human) %>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<div class="ibox">
  <div class="ibox-content">
      <div id="trading_account-detail">
        <%= render partial: 'trading_account_detail' %>
      </div>
      <div class="row m-t-sm">
        <div class="col-lg-12">
          <div class="panel blank-panel">
            <div class="panel-heading">
                <div class="panel-options">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-1" data-toggle="tab"><%= t('navigation.tab.position_summary') %></a></li>
                        <li><a href="#tab-2" data-toggle="tab"><%= t('navigation.tab.position_detail') %></a></li>
                        <li><a href="#tab-3" data-toggle="tab"><%= t('navigation.tab.trades') %></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">

              <div class="tab-content">
                <div class="tab-pane active" id="tab-1">

                  <div id="position-list" class="tooltip-demo">
                    <div class="row">
                      <div class="col-lg-6" style="border-right: 1px solid #eee;">
                        <%= render partial: 'buy_position_summary' %>
                      </div>
                      <div class="col-lg-6">
                        <%= render partial: 'sell_position_summary' %>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="tab-pane" id="tab-2">

                  <div class="row">
                    <div class="col-lg-6" style="border-right: 1px solid #eee;">
                      <%= render partial: 'buy_position_detail' %>
                    </div>
                    <div class="col-lg-6">
                      <%= render partial: 'sell_position_detail' %>
                    </div>
                  </div>

                </div>
                <div class="tab-pane" id="tab-3">

                  <div id="trade-list" class="tooltip-demo">
                    <%= render partial: 'trading_records_grid' %>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
  </div>
</div>

