<% content_for :page_title do %>

<%= t('models.show', model: TradingAccount.model_name.human) %>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>


<div class="ibox">
  <div class="ibox-content" id="trading-account-show-page-content">
    <span id="trading-account-id" style="display:none;"><%= @trading_account.id %></span>
      <div id="trading_account-detail">
        <%= render partial: 'trading_account_detail' %>
      </div>
      <div class="row m-t-sm">
        <div class="col-lg-12">
          <div class="panel blank-panel">
            <div class="panel-heading">
                <div class="panel-options">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-1" data-toggle="tab"><%= t('navigation.tab.position_summary') %></a></li>
                        <li><a href="#tab-2" data-toggle="tab"><%= t('navigation.tab.position_detail') %></a></li>
                        <li><a href="#tab-3" data-toggle="tab"><%= t('navigation.tab.trades') %></a></li>
                        <li><a href="#tab-4" data-toggle="tab"><%= t('navigation.tab.tradable_instruments') %></a></li>
                        <li><a href="#tab-5" data-toggle="tab"><%= t('navigation.tab.budget_in_and_out') %></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">

              <div class="tab-content">
                <div class="tab-pane active" id="tab-1">

                  <div id="position-list" class="tooltip-demo">
                    <div class="row">
                      <div class="col-lg-6" style="border-right: 1px solid #eee;" id="trading-account-buy-position-summary">
                        <%= render partial: 'buy_position_summary' %>
                      </div>
                      <div class="col-lg-6" id="trading-account-sell-position-summary">
                        <%= render partial: 'sell_position_summary' %>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="tab-pane" id="tab-2">

                  <div class="row">
                    <div class="col-lg-6" style="border-right: 1px solid #eee;" id="trading-account-buy-position-detail">
                      <%= render partial: 'buy_position_detail' %>
                    </div>
                    <div class="col-lg-6" id="trading-account-sell-position-detail">
                      <%= render partial: 'sell_position_detail' %>
                    </div>
                  </div>

                </div>
                <div class="tab-pane" id="tab-3">

                  <div id="trading-account-trading-records-grid" class="tooltip-demo">
                    <%= render partial: 'trading_records_grid' %>
                  </div>

                </div>

                <div class="tab-pane" id="tab-4">

                  <div class="btn-toolbar">
                    <div class="btn-group pull-right">
                    <%= link_to(fa_icon('plus-square', text: t('models.add', model: TradingAccountInstrument.model_name.human)), new_trading_account_trading_account_instrument_path(trading_account_id: @trading_account.id), remote: true, class: 'btn btn-primary btn-sm') %>
                    </div>
                  </div>

                  <div id="trading_account_instrument-list" class="tooltip-demo" id="trading-account-instruments-grid">
                    <%= render partial: 'trading_account_instruments_grid' %>
                  </div>

                </div>

                <div class="tab-pane" id="tab-5">

                  <div class="btn-toolbar">
                    <div class="btn-group pull-right">
                    <%= link_to(fa_icon('plus-square', text: t('models.add', model: TradingAccountBudgetRecord.model_name.human)), new_trading_account_trading_account_budget_record_path(trading_account_id: @trading_account.id), remote: true, class: 'btn btn-primary btn-sm') %>
                    </div>
                  </div>

                  <div id="trading_account_budget_record-list" class="tooltip-demo" id="trading-account-budget-records-grid">
                    <%= render partial: 'trading_account_budget_records_grid' %>
                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
  </div>
</div>

