
<div class="icon"><%= image_tag "icons/box.svg" %></div>
<div class="info">
  <h2><%= @product.name %></h2>
  <table>
    <tr>

      <td class="key"><%= t('activerecord.attributes.product.client_id') %></td>
      <td class="value"><%= @product.client_id %></td>


      <td class="key"><%= t('activerecord.attributes.product.budget') %></td>
      <td class="value"><%= @product.budget %></td>


      <td class="key"><%= t('activerecord.attributes.product.broker_id') %></td>
      <td class="value"><%= @product.broker_id %></td>


      <td class="key"><%= t('activerecord.attributes.product.bank_id') %></td>
      <td class="value"><%= @product.bank_id %></td>

            </tr>
  </table>
</div>
