<div class="row">
    <div class="col-lg-12">
        <div class="m-b-md">
            <%= link_to t('models.edit', model: Product.model_name.human), edit_product_path(@product), remote: true, class: 'btn btn-white btn-xs pull-right' %>
            <h2><span style="color: #f8ac59;"><%= fa_icon('star') %></span> <%= @product.name %></h2>
        </div>
        <dl class="dl-horizontal">
            <dt><%= t('activerecord.attributes.product.budget') %></dt> <dd><span class="label label-success" style="font-size: 12px;"><%= number_with_delimiter(@product.budget, delimiter: ',') %></span></dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <dl class="dl-horizontal">
            <dt><%= t('activerecord.attributes.product.client') %></dt> <dd><%= @product.client.name %></dd>
            <dt><%= t('activerecord.attributes.product.broker') %></dt> <dd><%= @product.broker.name %></dd>
            <dt><%= t('activerecord.attributes.product.bank') %></dt> <dd><%= @product.bank.name %></dd>
        </dl>
    </div>
    <div class="col-lg-7" id="cluster_info">
        <dl class="dl-horizontal">

            <dt><%= t('activerecord.attributes.product.updated_at') %></dt> <dd><%= @product.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></dd>
            <dt><%= t('activerecord.attributes.product.created_at') %></dt> <dd><%= @product.created_at.strftime('%Y-%m-%d %H:%M:%S') %></dd>
        </dl>
    </div>
</div>