<% content_for :page_title do %>

<%= t('models.show', model: Product.model_name.human) %>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<div class="ibox">
  <div class="ibox-content">
    <div id="product-detail">
      <%= render partial: 'product_detail' %>
    </div>
    <div class="row m-t-sm">
      <div class="col-lg-12">
        <div class="panel blank-panel">
          <div class="panel-heading">
              <div class="panel-options">
                  <ul class="nav nav-tabs">
                      <li class="active"><a href="#tab-1" data-toggle="tab"><%= t('models.list', model: TradingAccount.model_name.human) %></a></li>
                      <li class=""><a href="#tab-2" data-toggle="tab"><%= t('navigation.tab.risk_plan') %></a></li>
                  </ul>
              </div>
          </div>

          <div class="panel-body">

            <div class="tab-content">

              <div class="tab-pane active" id="tab-1">

                <div class="btn-toolbar">
                  <div class="btn-group pull-right">
                  <%= link_to(fa_icon('plus-square', text: t('models.add', model: TradingAccount.model_name.human)), new_product_trading_account_path(@product), remote: true, class: 'btn btn-primary btn-sm') %>
                  </div>
                </div>

                <div id="trading_account-list" class="tooltip-demo project-list">
                  <%= render partial: 'trading_accounts_grid' %>
                </div>

              </div>

              <div class="tab-pane" id="tab-2">

                <div class="btn-toolbar">
                  <div class="btn-group pull-right">
                  <%= link_to(fa_icon('plus-square', text: t('models.add', model: ProductRiskPlan.model_name.human)), new_product_product_risk_plan_path(@product), remote: true, class: 'btn btn-primary btn-sm') %>
                  </div>
                </div>

                <div id="product_risk_plan-list" class="tooltip-demo">
                  <%= render partial: 'product_risk_plans/product_risk_plans_grid' %>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>