<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'm-t' }, wrapper: :inline_form) do |f| %>
    <%= f.input :login, label: false, placeholder: '请输入帐号' %>
    <%= f.input :password, label: false, placeholder: '请输入密码' %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  <div class="actions">
    <%= f.submit t('buttons.sign_in'), class: 'btn btn-primary block full-width m-b' %>
  </div>
<% end %>
