<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name"><span>ACROPOLIS</span></h1>

        </div>

        <p>
        </p>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'm-t' }) do |f| %>

    <%= f.error_notification %>

    <div class="form-group">
      <%= f.input :login, wrapper: false, label: false, placeholder: 'Email or user name' %>
    </div>

    <div class="form-group">
        <%= f.input :password, wrapper: false, label: false, placeholder: 'Password' %>
    </div>

    <%= f.submit t('buttons.sign_in'), class: 'btn btn-primary block full-width m-b' %>

  <% end %>

    </div>
</div>


<% content_for :js do %>

<script type="text/javascript">

(function ($) {

  $(function () {

    $('input[type=text]').removeClass('input-sm');
    $('input[type=text]').closest('.form-group').append($('input[type=text]'));
    // $('input[type=text]').closest('.input-group').append($('<span class="input-group-addon"><i class="fui-user"></i></span>'));
    $('input[type=password]').removeClass('input-sm');
    $('input[type=password]').closest('.form-group').append($('input[type=password]'));
    // $('input[type=password]').closest('.input-group').append($('<span class="input-group-addon"><i class="fui-lock"></i></span>'));
    $('div.col-sm-10').remove();
    $('div.col-sm-10').remove();

  });
}(jQuery));

</script>

<% end %>