<% content_for :plate_title_panel do %>

<%= render partial: 'dashboard_title_panel' %>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<div class="container-fluid">
  <div class="row">

    <div class="col-lg-8">

      <div class="panel">
        <div class="page-header">
          <h3><%= fa_icon('clock-o', text: '风控事件') %></h3>
        </div>

        <%= render partial: 'risk_events_grid' %>

      </div>

      <div class="panel">
        <div class="page-header">
          <h3><%= fa_icon('desktop', text: '风险实时监测') %></h3>
        </div>
        <!-- Table -->
        <%= render partial: 'products_monitoring_grid' %>
      </div>

    </div>

    <div class="col-lg-4">
      <div class="panel">
        <div class="page-header">
          <h3><%= fa_icon('clock-o', text: '最近访问') %></h3>
        </div>

        <ul class="nav nav-list">
          <li class="nav-header"><%= RiskPlan.model_name.human %></li>
          <% recent_items(:risk_plan).map do |id, name| %>
          <li><%= link_to name, risk_plan_path(id) %></li>
          <% end %>

          <li class="divider"></li>

          <li class="nav-header"><%= Product.model_name.human %></li>
          <% recent_items(:product).map do |id, name| %>
          <li><%= link_to name, product_path(id) %></li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>