<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<div class="row">
  <div class="col-lg-9">

    <div class="ibox no-drop">
      <div class="ibox-title">
        <h5><%= fa_icon('exclamation-circle', text: '风控事件') %></h5>
      </div>
      <div class="ibox-content">
        <div id="risk_event_grid">
          <%= render partial: 'risk_events_grid' %>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-3">

    <div class="ibox no-drop">
      <div class="ibox-title">
          <h5><%= fa_icon('clock-o', text: '最近访问') %><%= Product.model_name.human %></h5>
      </div>
      <div class="ibox-content no-padding">
        <ul class="list-group">
          <% recent_items(:product).map do |id, name| %>
          <li class="list-group-item"><%= link_to name, product_path(id) %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="ibox no-drop">
      <div class="ibox-title">
          <h5><%= fa_icon('clock-o', text: '最近访问') %><%= RiskPlan.model_name.human %></h5>
      </div>
      <div class="ibox-content no-padding">
        <ul class="list-group">
          <% recent_items(:risk_plan).map do |id, name| %>
          <li class="list-group-item"><%= link_to name, product_path(id) %></li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>

</div>
